@import "./bootstrap.min.css";

.container-full {
  height: calc(100vh - 64px);
  user-select: none;
  background-color: #764fb1;
  color: white;
  overflow: hidden;
}
.hide {
  display: none;
}
.scroll-down-header {
  padding: 14px;
  background-color: #120c1c;
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}
.header {
  background-color: #764fb1;
}
.search {
  background-color: #764fb1 !important;
  border: none;
  /* border-bottom: 1px solid rgba(255, 255, 255, 0.15); */
  color: white;
}
.search::placeholder {
  color: rgba(255, 255, 255, 0.5);
}
.search:focus {
  outline: none;
}
.list-title {
  border-top: 1px solid rgba(255, 255, 255, 0.15);
  margin-top: 1rem;
  padding-top: 1rem;
  white-space: nowrap;
}
.list-container {
  overflow-x: hidden;
  height: calc(100vh - 440px);
}
.play-control-left,
.play-control-right {
  max-width: 50%;
}
.play-control-left .meta {
  width: calc(100% - 1rem - 40px);
}
.play-control-left .title,
.play-control-left .singer {
  width: 100%;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.singer-img {
  height: 200px;
  border-radius: 100%;
  display: block;
  margin: 0 auto;
  transition: opacity 0.3s ease;
}
.note {
  width: 15px;
}

.rotate-running {
  animation-play-state: running !important;
}

.rotate {
  animation: rotation 18s infinite linear;
  animation-play-state: paused;
}
.note {
  font-size: 20px;
}
@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}

.controller {
  background-color: #40367b;
  border-top: 1px solid hsla(0, 0%, 100%, 0.1);
}

.song-item {
  border-bottom: 1px solid rgba(255, 255, 255, 0.15);
}
.song-item .meta .title,
.song-item .meta span {
  white-space: nowrap;
  max-width: 220px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: block;
}
.song-item .img-container {
  position: relative;
  border-radius: 5px;
  overflow: hidden;
  cursor: pointer;
  width: 50px;
  height: 50px;
  margin-bottom: 0;
}
.song-item .img-container .playing,
.song-item .img-container .play,
.song-item .img-container .loading {
  opacity: 1;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
  width: 18px;
}
.loading-img {
  width: 30px !important;
  height: 30px !important;
}
.opacity {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 1;
  background-color: rgba(0, 0, 0, 0.5);
}
.song-img {
  width: 100%;
}
.song-img img {
  width: 100%;
}
.played-img {
  width: 40px;
  height: 40px;
  border-radius: 100%;
}
.control-items button {
  line-height: 0;
}
.control-items .item {
  height: 15px;
  cursor: pointer;
  width: 15px;
}
.loading-btn #loading {
  display: block !important;
}
.play-btn #play {
  display: block !important;
}
.pause-btn #pause {
  display: block !important;
}
#play-btn img {
  display: none;
}
.btn {
  line-height: 1;
}
.progress {
  height: 0.2rem !important;
  z-index: 100;
  border-radius: 0 !important;
  transition: height 0.3s ease;
  cursor: pointer;
}
.progress:hover {
  height: 0.4rem !important;
}
.progress:hover #remain-time {
  bottom: 0.4rem !important;
}
.progress-bar {
  background-color: #d63384 !important;
}
#remain-time {
  font-size: 0.65rem;
  background-color: #000000cc;
  position: fixed;
  right: 0;
  bottom: 0.2rem;
}
.play-control-right {
  text-align: right;
}
#one,
#all {
  display: none;
}
.replay-one #one {
  display: inline;
}
.replay-all #all {
  display: inline;
}

body::-webkit-scrollbar {
  width: 12px; /* width of the entire scrollbar */
}

body::-webkit-scrollbar-track {
  background: orange; /* color of the tracking area */
}

body::-webkit-scrollbar-thumb {
  background-color: blue; /* color of the scroll thumb */
  border-radius: 20px; /* roundness of the scroll thumb */
  border: 3px solid orange; /* creates padding around scroll thumb */
}
